[user]
	name = Balamurugan R
	email = emailstorbala@gmail.com
	signingkey = /home/balamurugan/.ssh/id_ed25519.pub
[core]
	editor = nvim
	trustExitCode = true
[pull]
	rebase = false
[diff]
	prompt = false
	tool = difftastic
	external = difft --display side-by-side
[difftool]
	prompt = false
	tool = vimdiff
[merge]
	prompt = false
	tool = vimdiff
[mergetool]
	prompt = false
	path = vimdiff
[color]
	ui = auto
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/balamurugan/.config/git/allowed_signers
	defaultKeyCommand = ssh-add -L
[pager]
	diff = 
