[user]
    name = Balamurugan R
    email = emailstorbala@gmail.com
	signingkey = /home/balamurugan/.ssh/id_rsa.pub
[core]
    editor = nvim
[pull]
    rebase = false
[diff]
    prompt = false
    tool = vimdiff
[difftool]
    prompt = false
    tool = vimdiff
[merge]
    prompt = false
    tool = vimdiff
[mergetool "vimdiff"]
    prompt = false
    path = nvim
[color]
    ui = auto
[init]
    defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	format = ssh
